version: "3"

networks:
  postgres:
    external: 
      name: postgres 

services:
  nextcloud:
    image: nextcloud:21.0.1-apache
    container_name: nextcloud_1
    ports:
      - "8000:80"
    volumes: 
      - {{nextcloud_data_volume}}:/var/www/html/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    networks:
      - postgres
    restart: always

