version: "3"

networks:
  youtrack:

services:
  youtrack:
    image: jetbrains/youtrack:2020.4.6808
    container_name: youtrack_1
    ports:
      - "8080:8080"
    volumes: 
      - {{system_folder}}/data:/opt/youtrack/data
      - {{system_folder}}/conf:/opt/youtrack/conf
      - {{system_folder}}/logs:/opt/youtrack/logs
      - {{system_folder}}/backup:/opt/youtrack/backups
    networks:
      - youtrack
    restart: always

