[Unit]
Description=Node Exporter (Node Exporter Service)
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ system_username }}
Group={{ system_username }}
WorkingDirectory={{ system_folder }}
ExecStart={{ node_exporter_bin }}
Environment=USER={{ system_username }} HOME={{ system_folder }}
Restart=always

[Install]
WantedBy=multi-user.target
